<%= form_for :post, url: posts_path do |f| %>
  <p>
    <%= f.label :subject %><br>
    <%= f.text_field :subject %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<% @posts.each do |post| %>
	<p>
		<%= link_to "#{post.id}. #{post.created_at.strftime("%D %T")}", post_path(post) %> 
		<span><%= post.subject %></span>
	</p>
<% end %>

<%= paginate @posts %>