<%= link_to 'Home', posts_path %>

<p>
  <strong><%= @post.id %></strong>
	<span> <%= "#{@post.created_at.strftime('%D %T')} #{@post.subject}" %> </span>	
  <p><%= link_to 'reply', new_reply_path(@post.id) %></p>
</p>

<%= comments_tree_for @comments,@post.id %>


