<div class="well">
  <blockquote>
		<p>
		  <strong><%= "#{comment.tree}" %></strong>
			<span> <%= "#{comment.created_at.strftime('%D %T')} #{comment.comment}" %> </span>
		</p>
  </blockquote>
	
  <% from_reply_form ||= nil %>
  <% unless from_reply_form %>
    <p><%= link_to 'reply', new_comment_path(comment.id) %></p>
  <% end %>
</div>