<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :parent_id %>

  <div>
		<%= f.hidden_field :post_id, value: @comment.post_id  %> 
	</div>
	
  <div>
    <%= f.label :comment %>
    <%= f.text_area :comment, required: true %>
  </div>

  <%= f.submit %>
<% end %>